Repository ikaros-dev/ikaros, pull requests merged in 2024-06, with the labels that each got.

#550 feat: remember i18n select in console page.
  CHANGELOG.MD
  console/src/layouts/components/LanguageSelect.vue
  console/src/stores/layout.ts
  server/src/main/resources/application-dev.yaml
Labels: feature, area/console

#551 optimize: i18n config in console
  CHANGELOG.MD
  console/src/App.vue
  console/src/components/global-search/GlobalSearchDialog.vue.bak
  console/src/components/upload/AttachmentPondUpload.vue
  console/src/components/upload/FilePondUpload.vue
  console/src/layouts/components/LanguageSelect.vue
  console/src/locales/en.yaml
  console/src/locales/index.ts
  console/src/locales/zh-CN.yaml
  console/src/modules/content/attachment/AttachmentDeatilDrawer.vue
  console/src/modules/content/attachment/AttachmentDirectorySelectDialog.vue
  console/src/modules/content/attachment/AttachmentFragmentUploadDrawer.vue
  console/src/modules/content/attachment/AttachmentMultiSelectDialog.vue
  console/src/modules/content/attachment/AttachmentRelationsDialog.vue
  console/src/modules/content/attachment/AttachmentSelectDialog.vue
  console/src/modules/content/attachment/Attachments.vue
  console/src/modules/content/attachment/module.ts
  console/src/modules/content/subject/EpisodeDetailsDialog.vue
  console/src/modules/content/subject/EpisodePostDialog.vue
  console/src/modules/content/subject/EpisodePutDialog.vue
  console/src/modules/content/subject/SubjectDetails.vue
  console/src/modules/content/subject/SubjectPost.vue
  console/src/modules/content/subject/SubjectPut.vue
  console/src/modules/content/subject/SubjectRelactionDeleteDrawer.vue
  console/src/modules/content/subject/SubjectRelationDeleteDialog.vue
  console/src/modules/content/subject/SubjectRelationDialog.vue
  console/src/modules/content/subject/SubjectRelationPostDialog.vue
  console/src/modules/content/subject/SubjectRemoteActionDialog.vue
  console/src/modules/content/subject/SubjectSelectDrawer.vue
  console/src/modules/content/subject/SubjectSyncDialog.vue
  console/src/modules/content/subject/Subjects.vue
  console/src/modules/content/subject/module.ts
  console/src/modules/dashboard/Dashboard.vue
  console/src/modules/dashboard/module.ts
  console/src/modules/system/plugin/Plugin.vue
  console/src/modules/system/plugin/PluginDetail.vue
  console/src/modules/system/plugin/PluginUploadDrawer.vue
  console/src/modules/system/plugin/module.ts
  console/src/modules/system/setting/Setting.vue
  console/src/modules/system/setting/module.ts
  console/src/modules/user/Collection.vue
  console/src/modules/user/Login.vue
  console/src/modules/user/Profile.vue
  console/src/modules/user/module.ts
  console/src/router/routes.config.ts
  console/src/utils/api-client.ts
  console/src/views/exception/Exception.vue
  console/src/views/exception/Forbidden.vue
  console/src/views/exception/NotFound.vue
  server/src/main/resources/application-dev.yaml
Labels: area/console, improvement

#555 feat: 添加匹配移除条目剧集附件绑定
  CHANGELOG.MD
  console/src/App.vue
  console/src/components/video/Artplayer.vue
  console/src/layouts/components/LanguageSelect.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/modules/common/constants.ts
  console/src/modules/content/attachment/AttachmentDeatilDrawer.vue
  console/src/modules/content/attachment/AttachmentDirectorySelectDialog.vue
  console/src/modules/content/attachment/AttachmentFragmentUploadDrawer.vue
  console/src/modules/content/attachment/AttachmentMultiSelectDialog.vue
  console/src/modules/content/attachment/AttachmentRelationsDialog.vue
  console/src/modules/content/attachment/AttachmentSelectDialog.vue
  console/src/modules/content/attachment/Attachments.vue
  console/src/modules/content/subject/EpisodeDetailsDialog.vue
  console/src/modules/content/subject/EpisodePostDialog.vue
  console/src/modules/content/subject/EpisodePutDialog.vue
  console/src/modules/content/subject/SubjectDetails.vue
  console/src/modules/content/subject/SubjectPost.vue
  console/src/modules/content/subject/SubjectPut.vue
  console/src/modules/content/subject/SubjectRelactionDeleteDrawer.vue
  console/src/modules/content/subject/SubjectRelationDeleteDialog.vue
  console/src/modules/content/subject/SubjectRelationDialog.vue
  console/src/modules/content/subject/SubjectRelationPostDialog.vue
  console/src/modules/content/subject/SubjectRemoteActionDialog.vue
  console/src/modules/content/subject/SubjectSelectDrawer.vue
  console/src/modules/content/subject/SubjectSyncDialog.vue
  console/src/modules/content/subject/Subjects.vue
  console/src/modules/dashboard/Dashboard.vue
  console/src/modules/system/plugin/Plugin.vue
  console/src/modules/system/plugin/PluginDetail.vue
  console/src/modules/system/plugin/PluginUploadDrawer.vue
  console/src/modules/system/setting/Setting.vue
  console/src/modules/user/Collection.vue
  console/src/modules/user/Profile.vue
  console/src/stores/layout.ts
  console/src/utils/api-client.ts
  console/src/utils/file.ts
  console/src/views/exception/Exception.vue
  console/src/views/exception/NotFound.vue
Labels: area/console

#561 feat: support jwt token authentication.
  CHANGELOG.MD
  console/packages/api-client/README.md
  console/packages/api-client/package.json
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api.ts
  console/packages/api-client/src/api/v1alpha1-indices-api.ts
  console/packages/api-client/src/api/v1alpha1-security-api.ts
  console/packages/api-client/src/models/alist-import-post-body.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/jwt-apply-param.ts
  console/src/layouts/components/Avatar.vue
  console/src/modules/user/Login.vue
  console/src/router/guards/auth-check.ts
  console/src/stores/user.ts
  console/src/utils/api-client.ts
  server/build.gradle
  server/src/main/java/run/ikaros/server/security/SecurityEndpoint.java
  server/src/main/java/run/ikaros/server/security/SecurityProperties.java
  server/src/main/java/run/ikaros/server/security/authentication/formlogin/FormLoginSuccessHandler.java
  server/src/main/java/run/ikaros/server/security/authentication/jwt/JwtApplyParam.java
  server/src/main/java/run/ikaros/server/security/authentication/jwt/JwtAuthenticationConfigurer.java
  server/src/main/java/run/ikaros/server/security/authentication/jwt/JwtAuthenticationFilter.java
  server/src/main/java/run/ikaros/server/security/authentication/jwt/JwtAuthenticationProvider.java
  server/src/main/java/run/ikaros/server/security/authentication/jwt/JwtReactiveAuthenticationManager.java
  server/src/main/java/run/ikaros/server/security/authorization/RequestAuthorizationManager.java
  server/src/main/resources/application-debug.yaml
  server/src/main/resources/application-dev.yaml
Labels: feature, area/console, area/server

#563 fix: 附件上传组件没有添加token头
  console/src/components/upload/AttachmentPondUpload.vue
  console/src/components/upload/FilePondUpload.vue
  console/src/components/upload/UppyUpload.vue
  console/src/layouts/components/Avatar.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/stores/user.ts
Labels: bug

#564 optimize: SecurityProperties
  server/src/main/java/run/ikaros/server/security/SecurityProperties.java
Labels: improvement

#565 fix: not fond for video subtitle
  CHANGELOG.MD
  server/src/main/java/run/ikaros/server/core/attachment/listener/AttachmentRelVideoSubtitleListener.java
  server/src/main/java/run/ikaros/server/infra/utils/SqlUtils.java
Labels: bug, area/server

#566 fix: video subtitles match issue
  server/src/main/java/run/ikaros/server/core/attachment/service/impl/AttachmentReferenceServiceImpl.java
  server/src/main/java/run/ikaros/server/plugin/listener/PluginAwareEventListener.java
  server/src/test/java/run/ikaros/server/core/attachment/listener/AttachmentRelVideoSubtitleListenerTest.java
  server/src/test/java/run/ikaros/server/core/attachment/service/AttachmentServiceTest.java
  server/src/test/java/run/ikaros/server/store/repository/AttachmentRepositoryTest.java
Labels: bug, area/server

#567 optimize: relation subject create itself.
  CHANGELOG.MD
  console/src/components/modules/content/subject/SubjectCollectDialog.vue
  console/src/modules/content/subject/EpisodeDetailsDialog.vue
  console/src/modules/content/subject/SubjectRelationPostDialog.vue
  console/src/modules/content/subject/SubjectSelectDrawer.vue
  server/src/main/java/run/ikaros/server/core/subject/service/impl/SubjectRelationServiceImpl.java
Labels: bug, area/console, area/server

#572 feat: add About.vue
  CHANGELOG.MD
  console/src/components/upload/AttachmentPondUpload.vue
  console/src/components/upload/UppyUpload.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/modules/content/subject/SubjectRelationPostDialog.vue
  console/src/modules/content/subject/SubjectSelectDrawer.vue
  console/src/modules/index.ts
  console/src/modules/system/about/About.vue
  console/src/modules/system/about/module.ts
  console/src/modules/user/Login.vue
  console/src/router/guards/auth-check.ts
  console/src/stores/user.ts
  console/src/utils/api-client.ts
  server/src/main/resources/application-dev.yaml
Labels: feature, area/console

#575 optimize: subject sync records save logic in SubjectServiceImpl.java
  BUILD.MD
  CHANGELOG.MD
  build.gradle.bak
  config/server/resource/application-local.yaml.example
  gradle.properties
  server/src/main/java/run/ikaros/server/core/subject/service/SubjectSyncPlatformService.java
  server/src/main/java/run/ikaros/server/core/subject/service/impl/SubjectServiceImpl.java
  server/src/main/java/run/ikaros/server/core/subject/service/impl/SubjectSyncPlatformServiceImpl.java
  server/src/main/java/run/ikaros/server/security/SecurityProperties.java
  server/src/main/resources/application-debug.yaml
  server/src/main/resources/application-dev.yaml
  server/src/main/resources/application.yaml
  server/src/test/java/run/ikaros/server/core/subject/service/SubjectSyncPlatformServiceTest.java
Labels: area/server, improvement

#581 optimize: subject episode attachment matching operate.
  BUILD.MD
  CHANGELOG.MD
  api/src/main/java/run/ikaros/api/core/subject/Episode.java
  api/src/main/java/run/ikaros/api/infra/utils/FileUtils.java
  api/src/main/java/run/ikaros/api/infra/utils/RegexConst.java
  api/src/main/java/run/ikaros/api/infra/utils/RegexUtils.java
  api/src/test/java/run/ikaros/api/infra/utils/RegexConstTest.java
  config/server/resource/application-local.yaml.example
  console/src/modules/content/subject/SubjectDetails.vue
  console/src/modules/content/subject/SubjectSyncDialog.vue
  gradle.properties
  server/src/main/java/run/ikaros/server/core/attachment/listener/AttachmentSubjectCoverChangeListener.java
  server/src/main/java/run/ikaros/server/core/attachment/service/impl/AttachmentReferenceServiceImpl.java
  server/src/main/java/run/ikaros/server/core/subject/service/impl/SubjectServiceImpl.java
  server/src/main/resources/application-win-dev.yaml
Labels: bug, feature, area/console, area/server, improvement

#583 fix: 条目同步重复拉取的问题
  CHANGELOG.MD
  gradle.properties
  server/src/main/java/run/ikaros/server/core/subject/service/impl/SubjectSyncPlatformServiceImpl.java
Labels: bug, area/server

#590 fix: some issues
  CHANGELOG.MD
  console/src/modules/content/subject/SubjectDetails.vue
  gradle.properties
  server/src/main/java/run/ikaros/server/core/attachment/listener/AttachmentRelVideoSubtitleListener.java
Labels: bug

#598 fix: subject episode details dialog resource preview
  CHANGELOG.MD
  console/src/components/video/Artplayer.vue
  console/src/modules/content/attachment/AttachmentDeatilDrawer.vue
  console/src/modules/content/subject/EpisodeDetailsDialog.vue
  console/src/modules/content/subject/SubjectDetails.vue
Labels: bug, area/console, improvement

#599 feat: log archive config.
  CHANGELOG.MD
  server/src/main/resources/logback-spring.xml
Labels: feature, area/server

#600 fix: console tag operate
  CHANGELOG.MD
  console/src/modules/content/subject/SubjectDetails.vue
Labels: bug, area/console
